<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">File Upload, Download & Share</h1>
    <p class="lead text-muted">Upload, download and share files with your friends.</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Login</a>
      <a href="#" class="btn btn-secondary my-2">Create account</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag("upload.png", class: "bd-placeholder-img card-img-top image-size") %>
          <div class="card-body">
            <p class="card-text">.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag("download.png", class: "bd-placeholder-img card-img-top image-size") %>
          <div class="card-body">
            <p class="card-text">.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag("transfer.png", class: "bd-placeholder-img card-img-top image-size") %>
          <div class="card-body">
            <p class="card-text">.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  